/* Author:Biji Raju */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif !important;
}
/* BANNER */
.banner {
    background-image: url(../images/academy-banner.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}
/* page 2 */

.side-text {
    background-color: #1e2531;
    color: #20b2aa;
    align-self: center;
    margin-left: -13%;
}
.side-text p {
    font-size: 24px;
    font-weight: 400;
}
.side-text p::before {
    content: "{";
    color: #d61355;
    padding-right: 10px;
}
.side-text p::after {
    content: "}";
    color: #d61355;
    padding-left: 10px;
}
/* PAGE 3 */
.module {
    background-image: url(../images/modulebg.jpg);
    height: 100vh;
    padding: 200px 0;
}
/* page 4 */
.left {
    background-image: url(../images/testsbg.jpg);
    height: 78vh;
}
.right {
    background-image: url(../images/intrvwbg.jpg);
    height: 78vh;
}
.test-interview-content {
    padding: 30%;
}
/* @media screen and (max-width: 576px) */

@media (max-width: 575.98px) {
    .banner {
        background-image: none;
        background-color: #bbc2ca;
    }
    .imageandcontent {
        padding: 0;
    }
}
